<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <!-- Load the property file: character.properties -->
    <context:property-placeholder location="classpath:character.properties"></context:property-placeholder>

    <!-- Define Your Beans Here -->

    <!-- Define the Dependency -->
    <bean id="newPersonalityService" class="yungshun.chang.springcharactergeneratorxmlconfig.PositivePersonalityService"></bean>
    <bean id="newMaleCharacter" class="yungshun.chang.springcharactergeneratorxmlconfig.MaleCharacter">

        <!-- Set up constructor injection -->
        <constructor-arg ref="newPersonalityService"></constructor-arg>
    </bean>

    <bean id="newFemaleCharacter" class="yungshun.chang.springcharactergeneratorxmlconfig.FemaleCharacter">

        <!-- Set up setter injection -->
        <property name="personalityService" ref="newPersonalityService" />

        <!-- Inject literal values -->
        <property name="age" value="${female.age}" />
        <property name="socialClass" value="${female.socialClass}" />
    </bean>

</beans>